body {
    background-color: #EBE7E3;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #EBE7E3;
}

logo {
    position: sticky;
    top: 0;
    width: 100%;
    float: left;
    align-items: space-around;
    background-color: #EBE7E3;
    margin: 0;
    text-align: center;
    z-index: 999;
}

h1 {
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px #ff0000;
    margin: 0;
}

h1#logo {
    font-size: 2.7rem;
    font-style: italic;
    color: #000000;
    transition: 1000ms;
    display: inline-block;
}

h1#logo:hover {
    color: #000000;
    text-shadow: 2px 2px #FFFF00;
}


#sliderImage {
    /* margin-top: 400px; */
    position: relative;
    width: 80vw;
    height: 50vw;
    object-fit: cover;
    object-position: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/slider/image1.png');
    background-size: 100% 100%;
}

.arrow {
    position: absolute;
    top: 45%;
    height: 20px;
    display: inline;
    padding: 10px;
    background-color: #fff;
    opacity: 0.25;
}

.arrow:hover {
    cursor: pointer;
}

#arrowLeft {
    left: 0;
    border-radius: 0 69% 69% 0;
}

#arrowRight {
    right: 0;
    border-radius: 69% 0 0 69%;
}

.arrow>strong {
    opacity: 0.75;
}

article {
    display: inline-block;
    padding: 25px 35px;
}

article>p {
    font-size: 120%;
    color: #2c0900;
}

.gallery>ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.gallery>ul>li {
    list-style-type: none;
    float: left;
    width: 50%;
}

.gallery>ul>li>figure {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}


.gallery>ul>li>figure>img {
    width: 45vw;
    border: 3px solid #FF0000;
}

.gallery>ul>li>figure>figcaption {
    border: 3px dotted blue;
    text-align: center;
    width: 45vw;
    /* padding: 5px 10px 10px 10px; */
}

@media screen and (max-width: 850px) {

    .gallery>ul>li>figure>img {
        width: 80vw;
        border: 3px solid #FFFF00;
    }

    .gallery>ul>li>figure {
        width: 100vw;
        padding-left: 0;
    }

    .gallery>ul>li {
        width: 100vw;
    }

    .gallery>ul>li>figure>figcaption {
        border: 3px dotted green;
        text-align: center;
        width: 80vw;
        /* padding: 5px 10px 10px 10px; */
    }
}

a {
    text-decoration: none;
    color: black;
}

.contact{
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;

}

.contact>div {

    -webkit-flex:1;
    flex:1;
    border:thin solid #777;
    list-style-type: none;
    float: left;
    margin-left: auto;
    width: 33%;
    /* display: inline-flex;
    flex-wrap: wrap; */
}

.contact>div>a>img{
    width: 25vw;
    max-width: 300px;
}

/* h1#facebook{
    text-align: center;
}

h1#instagram{
    text-align: center;
} */

footer {
    text-align: center;
    padding: 10px;
}